<!-- Remove the outer form tag if it exists, as the main form group is now in the parent component -->
<!-- Each tab component will get its relevant form group passed via an Input -->
<div [formGroup]="mainForm" class="p-4">
  <mat-tab-group>
    <mat-tab label="Kündiung/Entlassung">
      <ng-template matTabContent>
        <!-- Pass the 'tabOne' FormGroup to the app-tab-one component -->
        <app-tab-one [form]="tabOneForm" class="p-4"></app-tab-one>
      </ng-template>
    </mat-tab>

    <mat-tab label="Zusatzangaben">
      <ng-template matTabContent>
        <!-- Pass the 'tabTwo' FormGroup to the app-tab-two component -->
        <app-tab-two [form]="tabTwoForm" class="p-6"></app-tab-two>
      </ng-template>
    </mat-tab>

    <mat-tab label="Leitungen bei Austritt">
      <ng-template matTabContent>
        <!-- Pass the 'tabThree' FormGroup to the app-tab-three component -->
        <app-tab-three [form]="tabThreeForm" class="p-4"></app-tab-three>
      </ng-template>
    </mat-tab>

    <mat-tab label="Befristung">
      <ng-template matTabContent>
        <!-- Pass the 'tabFour' FormGroup to the app-tab-four component -->
        <app-tab-four [form]="tabFourForm" class="p-4"></app-tab-four>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <!-- Global Save/Cancel buttons for the mainForm -->
  <div class="flex justify-end mt-6 gap-4">
    <button mat-raised-button color="primary" type="button" (click)="onSave()" [disabled]="mainForm.invalid">Save</button>
    <button mat-stroked-button type="button" (click)="onCancel()">Cancel</button>
  </div>
</div>
